.nav-link:hover{
    background-color:rgb(34, 77, 77);
}
.notification-dot {
    position: absolute;
    top: 0px; /* Adjust the top position as needed */
    right: 2px; /* Adjust the right position as needed */
    width: 8px; /* Adjust the size of the dot as needed */
    height: 8px;
    background-color: #007bff; /* Use the desired blue color */
    border-radius: 50%;
    display: inline-block;
  }
  