.table-container {
    max-height: 600px; 
    overflow-y: auto;
    position: relative;
  }
  
  .table-container table {
    width: 100%;
    table-layout: fixed;
  }
  
  .table-container thead {
    position: sticky;
    top: 0;
    background-color: #fff; 
    z-index: 1;
  }

  .wrap{
    width:11em;
word-wrap:break-word;
  }

  .logoImage{
    margin-left: 20px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }